@font-face {
    font-family: 'ISOCPEUR';
    src: url('ISOCPEUR.woff2') format('woff2'),
        url('ISOCPEUR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ISOCPEUR';
    src: url('ISOCPEURItalic.woff2') format('woff2'),
        url('ISOCPEURItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: ISOCPEUR;
}


body {
  margin: 0 20vw;
  background-color: #163e3e;
  color: #e0be8e;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  padding: 2em 0;
}

h1 {
  font-size: 5em;
  text-align: center;
}

h1 span {
  font-size: 40%;
  vertical-align: sub;
}

h1 span:nth-child(odd) {
  vertical-align: super;
}

h2 {
  font-size: 2em;
  text-align: center;
}

nav {
  background-color: #e0be83;
  color: #163e3e;
  font-size: 1.6em;
  line-height: 1.2;
}

nav ul {
  padding: 0.75em 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

nav li {
  flex: 1 1 auto;
  text-align: center;
}

nav li:first-of-type {
  font-size: 1.5em;
}

nav li:last-of-type {
  font-size: 0.8em;
}
