@font-face {
    font-family: 'ISOCPEUR';
    src: url('ISOCPEUR.woff2') format('woff2'),
        url('ISOCPEUR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ISOCPEUR';
    src: url('ISOCPEURItalic.woff2') format('woff2'),
        url('ISOCPEURItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: ISOCPEUR;
}


body {
  margin: 0 15vw;
  background-color: #163e3e;
  color: #e0be8e;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  padding: 2em 0;
}

h1 {
  font-size: 6em;
  text-align: center;
}

h1 > span {
  font-size: 40%;
  vertical-align: sub;
}

h1 > span:nth-child(odd) {
  vertical-align: super;
}

h2 {
  font-size: 3.5em;
  text-align: center;
  text-transform: lowercase;
}

h3 {
  background-color: #e0be83;
  color: #163e3e;
  font-size: 3em;
  text-align: center;
  padding: 0.25em;
}

ul {
  list-style: none;
}

nav {
  background-color: #e0be83;
  color: #163e3e;
  font-size: 2em;
  line-height: 1.2;
}

nav > ul {
  padding: 0.75em 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav > ul > li {
  flex: 1 1 auto;
  text-align: center;
}

nav > ul > li:first-of-type {
  flex-grow: 0;
  font-size: 1.5em;
  margin-left: 0.2em;
  padding-left: 1.6em;
  background-image: url(green-pod.png);
  background-size: 1.5em;
  background-repeat: no-repeat;
}

nav > ul > li:last-of-type {
  font-size: 0.8em;
}

main > * {
  padding: 0 5%;
}

main > ul {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 2em;
}

main > p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 2em;
}

footer {
  background-color: #e0be83;
  color: #163e3e;
  padding: 0.5em;
  text-align: center;
}

footer > a {
  font-size: 1.5em;
  padding-right: 8em;
}

footer > a:last-of-type {
  padding-right: 0;
}

main > ul > li {
  padding-left: 2em;
  background-image: url(cream-pod.png);
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: left top;
  border-radius: 0.5em;
}

#pyrapod-list {
  margin: 2em 0;
  height: 15em;
  padding-bottom: 9em;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  background-image: url(pyrapod.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 20em;
  font-size: 3em;
}

#pyrapod-list > li {
  padding-left: 0em;
  background-image: none;
  width: fit-content;
  background-color: rgba(22,62,62,0.7);
  border-radius: 0.5em;
  background-size: auto;
}

#pyrapod-list >li:before {
  background-image: url(cream-pod.png);
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1em;
  content: "";
  background-position: left;
  background-repeat: no-repeat;
}

#pyrapod-list > li:last-of-type {
  text-align: right;
  margin-left: auto;
}

#pyrapod-list >li:last-of-type:before {
  display: none;
}

#pyrapod-list >li:last-of-type:after {
  background-image: url(cream-pod.png);
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1em;
  content: "";
  background-position: right 100%;
  background-repeat: no-repeat;
}

#spec-list {
  margin-right: 5%;
  padding-top: 2em;
  padding-bottom: 2em;
  background-image: url(interior.jpeg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
}

#spec-list li {
  padding-bottom: 0.5em;
}

.marquee {
  background-color: #e0be83;
  display: flex;
  overflow: hidden;
  padding: 0.2em;
  height: 5em;
  justify-content: space-between;
}

.marquee img {
  flex: 0 0 auto;
}


.slides {
  height: 12em;
  background: blue;
}

@media (max-width: 1023px) {
  body {
    margin: 0 0;
  }
  nav > ul > li:first-of-type {
      display: none;
  }
  nav > ul > li:last-of-type {
      display: none;
  }
}
